<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>

php_value memory_limit 200M
php_value max_execution_time 3500
php_value date.timezone "America/Santiago"
